#pogrubienie_Musijowski
{
font-size:35px;
  color: #865CCA;
}
#pochylona_Musijowski
{
  font-size: 40pt;
  color: #EAC066;
}
#index_gorny_Musijowski
{ 
  font-size: 1,5cm;
  color: #9A8E16;
}
#index_dolny_Musijowski
{ 
  font-size: 2cm;
  color: #36F2DE;
}
#mono_Musijowski
{ 
  font-size: 45px;
  color: #1ADE66;
}
#powiekszenie_Musijowski
{  
color: #543E98;
}
#pomniejszenie_Musijowski
{
color: rgb(72%,64%,20%);
}
