 body{
 background-color: rgb(0,100,0);
 text-align : center;
 margin : 50px;
}
div {
 background : rgb(127,255,212);
 width : 400px;
 border : 3px black solid;
 }
h1 {
 margin : 20px;
border-top: 2px dashed blue;
border-left: 2px inset red;
border-right: 2px ridge yellow;
border-bottom: 2px solid purple;
 background : rgb(192,168,255);
 }
h2 {
margin : 30px;
border : 7px groove black;
border-top-color: aqua;
border-right-color: purple;
border-left-color: green;
border-bottom-color: blue;
background : rgb(192,255,0);
}
h3 {
margin : 35px;
border : 9px solid black;
background : rgb(255,64,129);
}
